<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🧑‍🍳 PantryPro 🥕</title>
</head>
<body>
    <div>
        <img id="static-image" src="{{ url_for('static', filename='images/DALL-E-image.png') }}" alt="Pantry Image">
        <h1>🧑‍🍳 PantryPro 🥕</h1>
        <input type="text" id="message" placeholder="What’s in your kitchen? List your ingredients 🍅">
        <button onclick="sendMessage()">Send</button>
        <p><strong>Response:</strong></p>
        <div id="response"></div>
    </div>

    <script>
        async function sendMessage() {
            const message = document.getElementById("message").value;
            const response = await fetch("/chat", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ "message": message })
            });
            const data = await response.json();
            
            // Update the response text
            document.getElementById("response").innerText = data.response;
        }
    </script>
</body>
</html>